<!DOCTYPE html>
<html>
<head>
  <script src="node_modules\vue\dist\vue.js"></script>
  <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      
      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>
</head>
<body>
  <div id="app">
  </div>

  <script>
    var retrievedObject = JSON.parse(localStorage.getItem('object'));

    Vue.component('todo__input', {
      template: `
        <div>
        <input v-model="inputVal">
        <button v-on:click="addItem(inputVal)">Add item</button>
        </div>
        `,
      data() {
        return { inputVal: '' }
      },
      methods: {
        addItem: function (value) {
          this.$emit('addItem', value)
        }
      }
    })

    Vue.component('todo__output', {
      template: `
        <table v-if="recievedArray.length">
            <tr>
              <th>Index</th>
              <th style="cursor: pointer;" v-on:click="sortbyName">Item</th>
              <th style="cursor: pointer;" v-on:click="sortbyDate">Date</th>
              <th>Time</th>
              <th></th>
            </tr>
            <tr v-for="(value, index) in recievedArray">
              <td>{{ index + 1 }}</td>
              <td>{{ value.itemName }}</td>
              <td>{{ value.date }}</td>
              <td>{{ value.time }}</td>
              <td><button v-on:click="removeItem(index)">Remove item</button></td>
            </tr>
        </table> 
      `,
      props: {
        recievedArray:[]
        },
      methods: {
        sortbyName: function() {
          function compare(a, b) {
            if (a.itemName < b.itemName)
              return -1;
            if (a.itemName > b.itemName)
              return 1;
            return 0;
          }

          return this.recievedArray.sort(compare);
        },
        sortbyDate: function() {
          function compare(a, b) {
            if (a.date < b.date)
              return -1;
            if (a.date > b.date)
              return 1;
            return 0;
          }
          return this.recievedArray.sort(compare);
        },
        removeItem: function (index) {
          return this.recievedArray.splice(index, 1)
        }
      }
    })

    Vue.component('todo', {
      template: `
      <div>
        <todo__input v-on:addItem="addItem"></todo__input>
        <todo__output :recievedArray=this.object></todo__output>
      </div>
      `,
      data: function () {
        return{
          object: []
        }  
      },
      methods: {
        addItem: function (value) {
          var fullDate = new Date().toLocaleString();
          return this.object.push({
            itemName: value,
            date: fullDate.substring(0, fullDate.indexOf(',')),
            time: fullDate.split(',')[1]
          });
        }
      },
      computed: {
        storedObject: function () {
           return localStorage.setItem('object', JSON.stringify(this.object));
        }
      }
    })

    var app = new Vue({
      template: "<todo></todo>"
    })

    app.$mount('#app');
  </script>
</body>
</html>