<!DOCTYPE html>
<html>
<head>
  <script src="node_modules\vue\dist\vue.js"></script>
  <script src="node_modules\vuex\dist\vuex.js"></script>
  
  <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      
      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>
</head>
<body>
  <div id="app">
  </div>

  <script>
    var STORAGE_KEY = 'todo-list';

    var todoStorage = {
      fetch: function () {
        var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
        todos.forEach(function (todo, index) {
          todo.id = index
        })
        todoStorage.uid = todos.length
        return todos
      },
      save: function (todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      }
    }

    var filters = {
      all: function (todos) {
        return todos
      },
      active: function (todos) {
        return todos.filter(function (todo) {
          return !todo.completed
        })
      },
      completed: function (todos) {
        return todos.filter(function (todo) {
          return todo.completed
        })
      }
    }

    Vue.component('todo__input', {
      template: `
        <div>
        <input v-model="inputVal">
        <button v-on:click="addItem(inputVal)">Add item</button>
        </div>
        `,
      data() {
        return { inputVal: '' }
      },
      methods: {
        addItem: function (value) {
          store.commit('addItem', value)
        }
      }
    })

    Vue.component('todo__output', {
      template: `
      <div>
        <ul class="filters">
          <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
          <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
          <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
        </ul>
        <table v-if="finalOutput.length">
            <tr>
              <th>Index</th>
              <th style="cursor: pointer;" v-on:click="addSorter('sortByName')">Item</th>
              <th style="cursor: pointer;" v-on:click="addSorter('sortByDate')">Date</th>
              <th style="cursor: pointer;" v-on:click="addSorter('sortByTime')">Time</th>
              <th>Completed</th>
              <th></th>
            </tr>
            <tr v-for="(value, index) in finalOutput">
              <td>{{ index + 1 }}</td>
              <td>{{ value.itemName }}</td>
              <td>{{ value.date }}</td>
              <td>{{ value.time }}</td>
              <td><input class="toggle" type="checkbox" :checked="value.completed" @change="updateCompleted($event, value)"></td>
              <td><button v-on:click="removeItem(index)">Remove item</button></td>
            </tr>
        </table> 
      </div>
      `,
      data() {
        return { 
          visibility: store.state.visibility
        }
      },
      computed: {
        finalOutput: function () {
          return store.getters.allFilters
        },
        remaining: function () {
          return filters.active(this.todos).length
        },
        allDone: {
          get: function () {
            return this.remaining === 0
          },
          set: function (value) {
            this.todos.forEach(function (todo) {
              todo.completed = value
            })
          }
        }
      },
      methods: {
        addSorter: function(value){
          store.commit('addSorter', value)
        },
        updateCompleted: function(event, value) {
          console.log(value);
          var object = {checked: event.target.checked, value}
          store.commit('updateCompleted', object)
        },
        removeItem: function (index) {
          store.commit('removeItem', index)
        }
      }
    })

    Vue.component('todo', {
      template: `
      <div>
        <todo__input></todo__input>
        <todo__output></todo__output>
      </div>
      `
    })

    const store = new Vuex.Store({
      strict: true,
      state: {
        //objects: todoStorage.fetch(),
        objects: [{
          itemName: "aaa",
          date: "555",
          time: "222",
          completed: false
        },
        {
          itemName: "bbb",
          date: "444",
          time: "222",
          completed: false
        },
        {
          itemName: "ccc",
          date: "333",
          time: "222",
          completed: false
        },
        {
          itemName: "ddd",
          date: "222",
          time: "222",
          completed: false
        },
        {
          itemName: "ggg",
          date: "111",
          time: "222",
          completed: false
        },
        ],
        visibility: "all",
        sorters: []
      },
      getters: {
        allFilters: function(state){
          var sorterFunctions = {
            sortByName: function(todos) {
              function compare(a, b) {
                if (a.itemName < b.itemName)
                  return -1;
                if (a.itemName > b.itemName)
                  return 1;
                return 0;
              }
              return todos.sort(compare);
            },
            sortByTime: function(todos) {
              function compare(a, b) {
                if (a.time < b.time)
                  return -1;
                if (a.time > b.time)
                  return 1;
                return 0;
              }
              return todos.sort(compare);
            },
            sortByDate: function(todos) {
              function compare(a, b) {
                if (a.date < b.date)
                  return -1;
                if (a.date > b.date)
                  return 1;
                return 0;
              }
              return todos.sort(compare);
            }
          }
          var todos = filters[store.state.visibility](store.state.objects);
          store.state.sorters.forEach(function(sorter){
            console.log(sorter);
            sorterFunctions[sorter](todos);
          })
          return todos;
        }
      },
      mutations: {
        
        addSorter: function(state, value) {
          var index = store.state.sorters.indexOf(value);
          if(index != -1){
            store.state.sorters.splice(index, 1);
          }
          store.state.sorters.push(value);
        },
        updateCompleted: function (state, object) {
          return object.value.completed = object.checked;
        },
        changeVisibility: function (state, value) {
          return state.visibility = value;
        },
        addItem: function (state, value) {
          var fullDate = new Date().toLocaleString();
          state.objects.push({
            itemName: value,
            date: fullDate.substring(0, fullDate.indexOf(',')),
            time: fullDate.split(',')[1],
            completed: false
          });
          return todoStorage.save(state.objects);
        },
        removeItem: function (state, index) {
          state.objects.splice(index, 1);
          return todoStorage.save(state.objects);
        }
      }
    })

    var app = new Vue({
      store,
      template: "<todo></todo>"
    })

    function onHashChange () {
      var visibility = window.location.hash.replace(/#\/?/, '')
      if (filters[visibility]) {
        store.commit('changeVisibility', visibility)
      } else {
        window.location.hash = ''
        store.commit('changeVisibility', 'all')
      }
    }

    window.addEventListener('hashchange', onHashChange)
    onHashChange()

    app.$mount('#app');
  </script>
</body>
</html>